body, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  height: 56px;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

header .header-container-left {
  margin-left: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container-left img {
  width: 170px;
  height: auto;
}

header .header-container-right {
  margin-right: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Barlow', sans-serif;
}

header .header-container-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
}

header .header-container-right ul li {
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container-right ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  padding: 18px 0px;
  border-radius: 40px;
  width: 139px;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  text-transform: uppercase;
}

header .header-container-right ul li:last-child:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-container {
  width: 100%;
  height: auto;
  background-color: #3CBFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container #hero-mobile {
  display: none;
}

.hero-container img {
  width: 100%;
  height: auto;
}

.hero-text-box {
  position: absolute;
  width: 750px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -1.25rem;
}

.hero-text-box h1 {
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Fraunces', serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 7.5px;
}

.hero-text-box span {
  margin: 1rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-text-box img {
  display: block;
}

.top-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-container .top-left-container {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container .top-left-container span {
  width: 450px;
  height: 300px;
}

.top-container .top-left-container span h2 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: -.5rem;
  color: #23303e;
}

.top-container .top-left-container span p {
  color: #818498;
  font-family: 'Barlow', sans-serif;
  font-size: 1.09rem;
  line-height: 2;
  padding-bottom: 2rem;
}

.top-container .top-left-container span a {
  z-index: 1;
  position: relative;
  color: #23303e;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: .5rem;
}

.top-container .top-left-container span a:hover {
  cursor: pointer;
}

.top-container .top-left-container span .highlight {
  z-index: 0;
  position: relative;
  width: 130px;
  height: 10px;
  background: rgba(250, 212, 0, 0.5);
  border-radius: 25px;
  margin-top: -7.5px;
}

.top-container .top-left-container span .highlight:hover {
  cursor: pointer;
  background: #fad400;
}

.top-container .top-right-container {
  width: 50%;
  height: 100%;
  background-color: #FFD301;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-container .top-right-container img {
  width: 100%;
  height: auto;
}

.top-container .top-right-container #top-right-mobile {
  display: none;
}

.middle-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-container .middle-left-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FE7364;
}

.middle-container .middle-left-container img {
  width: 100%;
  height: auto;
}

.middle-container .middle-left-container #middle-left-mobile {
  display: none;
}

.middle-container .middle-right-container {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-container .middle-right-container span {
  width: 450px;
  height: 300px;
}

.middle-container .middle-right-container span h2 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: -.5rem;
  color: #23303e;
}

.middle-container .middle-right-container span p {
  color: #818498;
  font-family: 'Barlow', sans-serif;
  font-size: 1.09rem;
  line-height: 2;
  padding-bottom: 2rem;
}

.middle-container .middle-right-container span a {
  z-index: 1;
  position: relative;
  color: #23303e;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: .5rem;
  background-color: transparent;
}

.middle-container .middle-right-container span a:hover {
  cursor: pointer;
}

.middle-container .middle-right-container span .highlight {
  z-index: 0;
  position: relative;
  width: 130px;
  height: 10px;
  background: rgba(254, 120, 103, 0.5);
  border-radius: 25px;
  margin-top: -7.5px;
}

.middle-container .middle-right-container span .highlight:hover {
  cursor: pointer;
  background: #fe7867;
}

.bottom-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-container .bottom-left-container {
  z-index: 1;
  position: relative;
  width: 50%;
  height: auto;
  background-color: #95D5C5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-container .bottom-left-container img {
  width: 100%;
  height: auto;
}

.bottom-container .bottom-left-container #bottom-left-mobile {
  display: none;
}

.bottom-container .bottom-left-container span {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 400px;
  height: 200px;
  color: #25564b;
}

.bottom-container .bottom-left-container span h3 {
  font-size: 1.85rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Fraunces';
}

.bottom-container .bottom-left-container span p {
  margin: 0 auto;
  width: 350px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.bottom-container .bottom-right-container {
  z-index: 1;
  position: relative;
  width: 50%;
  height: auto;
  background-color: #63CBFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-container .bottom-right-container img {
  width: 100%;
  height: auto;
}

.bottom-container .bottom-right-container #bottom-right-mobile {
  display: none;
}

.bottom-container .bottom-right-container span {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 400px;
  height: 200px;
  color: #19536b;
}

.bottom-container .bottom-right-container span h3 {
  font-size: 1.85rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Fraunces';
}

.bottom-container .bottom-right-container span p {
  margin: 0 auto;
  width: 350px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.testimonial-container {
  width: 100%;
  height: 775px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-container .testimonial-title {
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-size: 1.45rem;
  color: #A7AAAD;
  letter-spacing: 4px;
}

.testimonial-container .testimonial-flex-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.testimonial-container .testimonial-flex-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-container .testimonial-flex-container .box img {
  width: 72px;
  border-radius: 50%;
}

.testimonial-container .testimonial-flex-container .box p {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  line-height: 1.75;
  margin-top: 3.5rem;
  width: 340px;
  height: 96px;
  color: #5B636D;
  font-size: 1.05rem;
}

.testimonial-container .testimonial-flex-container .box div {
  text-align: center;
  width: 200px;
  margin-top: 3rem;
}

.testimonial-container .testimonial-flex-container .box div h4 {
  color: #24303E;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 700;
}

.testimonial-container .testimonial-flex-container .box div h5 {
  margin-top: .5rem;
  color: #A7AAAD;
}

.bottom-image-container-mobile {
  display: none;
}

.bottom-image-container-desktop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-image-container-desktop img {
  width: 25%;
}

footer {
  background-color: #90D4C6;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content-container {
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-content-container .svg-container {
  width: 200px;
  margin: 0 auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content-container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 2rem;
}

footer .footer-content-container .footer-links li {
  display: inline;
  font-family: 'Barlow', sans-serif;
  color: #2C7566;
  letter-spacing: 1px;
  padding: 1rem;
}

footer .footer-content-container .footer-links li:hover {
  cursor: pointer;
  color: white;
}

footer .footer-content-container .footer-contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
  padding-right: 2rem;
}

footer .footer-content-container .footer-contacts li {
  font-size: 1.75rem;
  display: inline;
  color: #2C7566;
}

footer .footer-content-container .footer-contacts li:hover {
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 1100px) {
  .hero-text-box {
    margin-top: 5rem;
  }
  .hero-text-box h1 {
    font-size: 3rem;
  }
  .top-container .top-left-container span {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  .top-container .top-left-container span .highlight {
    margin: -.5rem auto 0 auto;
  }
  .top-container .top-left-container span h2 {
    font-size: 2rem;
  }
  .top-container .top-left-container span p {
    font-size: 1rem;
  }
  .middle-container .middle-right-container span {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  .middle-container .middle-right-container span .highlight {
    margin: -.5rem auto 0 auto;
  }
  .middle-container .middle-right-container span h2 {
    font-size: 2rem;
  }
  .middle-container .middle-right-container span p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .hero-text-box {
    margin-top: 10rem;
  }
  .hero-text-box h1 {
    font-size: 2.5rem;
  }
  .hero-text-box img {
    height: 75px;
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  header {
    margin-top: 15px;
  }
  .hero-text-box {
    margin-top: 10rem;
  }
  .hero-text-box h1 {
    font-size: 2.5rem;
  }
  .hero-text-box img {
    height: 75px;
    width: auto;
  }
}

@media screen and (max-width: 850px) {
  .top-container .top-left-container span {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    height: auto;
  }
  .top-container .top-left-container span .highlight {
    margin: -.5rem auto 0 auto;
  }
  .top-container .top-left-container span h2 {
    font-size: 1.75rem;
  }
  .top-container .top-left-container span p {
    font-size: .9rem;
    margin-top: -1rem;
  }
  .middle-container .middle-right-container span {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: auto;
  }
  .middle-container .middle-right-container span .highlight {
    margin: -.5rem auto 0 auto;
  }
  .middle-container .middle-right-container span h2 {
    font-size: 1.75rem;
  }
  .middle-container .middle-right-container span p {
    font-size: .9rem;
    margin-top: -1rem;
  }
}

@media screen and (max-width: 800px) {
  .hero-text-box {
    margin-top: 15rem;
  }
  .hero-text-box h1 {
    font-size: 2rem;
  }
  .hero-text-box img {
    height: 65px;
    margin-top: -1rem;
    width: auto;
  }
}

@media screen and (max-width: 725px) {
  header .header-container-left {
    margin-left: 23px;
  }
  header .header-container-left img {
    width: 125px;
    height: auto;
  }
  header .header-container-right {
    margin-right: 23px;
  }
  header .header-container-right ul li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    color: black;
    padding: 12px 0px;
    border-radius: 40px;
    width: 125px;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  .hero-container #hero-desktop {
    display: none;
  }
  .hero-container #hero-mobile {
    display: block;
  }
  .hero-container .hero-text-box {
    margin-top: 15rem;
  }
  .hero-container .hero-text-box h1 {
    width: 75%;
    font-size: 3rem;
    margin: 0 auto;
  }
  .hero-container .hero-text-box img {
    margin-top: 2rem;
    height: 115px;
    width: auto;
  }
  .top-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .top-container .top-left-container {
    width: 100%;
    height: 450px;
  }
  .top-container .top-left-container span {
    width: 75%;
    height: 300px;
  }
  .top-container .top-left-container span p {
    margin-top: 0;
  }
  .top-container .top-right-container {
    width: 100%;
    height: auto;
  }
  .top-container .top-right-container #top-right-desktop {
    display: none;
  }
  .top-container .top-right-container #top-right-mobile {
    display: block;
  }
  .top-container .top-right-container img {
    width: 100%;
    height: auto;
  }
}

.middle-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-container .middle-right-container {
  width: 100%;
  height: 450px;
}

.middle-container .middle-right-container span {
  width: 75%;
  height: 300px;
}

.middle-container .middle-right-container span p {
  margin-top: 0;
}

.middle-container .middle-left-container {
  width: 100%;
  height: auto;
}

.middle-container .middle-left-container #top-right-desktop {
  display: none;
}

.middle-container .middle-left-container #top-right-mobile {
  display: block;
}

.middle-container .middle-left-container img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 650px) {
  header .header-container-right ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 375px;
  }
}
/*# sourceMappingURL=style.css.map */